Store data from www.nhtsa.gov/recalls in table.

table 1
id (pk,int), manufacturer (text), country (text)

1, ford, usa

2, isuzu, japan

table 2
id (pk,int), name(text), make_fk(foreign_key,text)

1, trooper, 2
2, amigo, 2
3, ranger, 1
4, focus, 1
5, f-150, 1

In [1]:
import sqlite3

#connect to db
dbconn = sqlite3.connect('nthsa_recalls.db')

#ask the connection for a cursor object
cursor = dbconn.cursor()

In [2]:
#asks the connection for and object called a cursor(port to database)
cursor = dbconn.cursor()

#create table if does not exist
mnfg_table_sql = '''
       CREATE TABLE IF NOT EXISTS
       manufacturer(
       id INTEGER,
       mnfg_name TEXT NOT NULL,
       country TEXT NOT NULL
       )
       '''




#pass in our SQL as plain text
cursor.execute(mnfg_table_sql)

#must commit to make permenant
dbconn.commit()

#creates insert queries
mnfg_insert1 = '''
    INSERT INTO manufacturer(id, mnfg_name, country)
    VALUES(1,'ford', 'usa');


'''

mnfg_insert2 = '''
        INSERT INTO manufacturer (id, mnfg_name, country)
        VALUES(2,'isuzu', 'japan');
'''
#insert data into database table
cursor.execute(mnfg_insert1)
cursor.execute(mnfg_insert2)

dbconn.commit()

#run query
cursor.execute('SELECT * FROM manufacturer')

#stores all records
records = cursor.fetchall()

#loops through records and prints
for row in records:
    print(row)

(1, 'ford', 'usa')
(2, 'isuzu', 'japan')